<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        form {
            max-width: 640px;
            margin: 0 auto;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="m-4" style="text-align: center;">
    <form th:object="${addEvent}" action="/addEvent" method="post" >

        <div class="row mb-3">
            <label  for="category" class="col-sm-2 col-form-label"> Category </label>
            <div class="col-sm-10">
                <select th:field="*{category}" type="text" class="form-control" id="category" placeholder="Category" required>
                    <option th:each="specificOpt : ${T(com.sda.onlineBets.enums.Category).values()}"
                            th:value="${specificOpt}" th:text="${specificOpt}"></option>
                </select>

            </div>
        </div>

        <div class="row mb-3">
            <label  for="teamA" class="col-sm-2 col-form-label"> First Team </label>
            <div class="col-sm-10">
                <input  th:field="*{teamA}" type="text" class="form-control" id="teamA" placeholder="Team" required>
            </div>
        </div>
        <div class="row mb-3">
            <label  for="teamB" class="col-sm-2 col-form-label"> Second Team </label>
            <div class="col-sm-10">
                <input th:field="*{teamB}" type="text" class="form-control" id="teamB" placeholder="Team" required>
            </div>
        </div>

        <div class="row mb-3">
            <label  for="league" class="col-sm-2 col-form-label"> League </label>
            <div class="col-sm-10">
                <select th:field="*{league}" type="text" class="form-control" id="league"  required>
                    <option th:each="specificOpt : ${T(com.sda.onlineBets.enums.League).values()}"
                            th:value="${specificOpt}" th:text="${specificOpt}"></option>
                </select>

            </div>
        </div>

        <div class="row mb-3">
            <label  for="dateTimeEvent" class="col-sm-2 col-form-label"> Date Event </label>
            <div class="col-sm-10">
                <input th:field="*{dateTimeEvent}" type="datetime-local" class="form-control" id="dateTimeEvent" placeholder="Date Event" required>
            </div>
        </div>

        <div class="row mb-3">
            <label  for="oddTeamA" class="col-sm-2 col-form-label"> What are the odds for first team to win? </label>
            <div class="col-sm-10">
                <input th:field="*{oddTeamA}" class="form-control" id="oddTeamA" placeholder="Odd Team A" required>



            </div>
        </div>
        <div class="row mb-3">
            <label  for="oddTeamB" class="col-sm-2 col-form-label">  What are the odds for second team to win?</label>
            <div class="col-sm-10">
                <input th:field="*{oddTeamB}" class="form-control" id="oddTeamB" placeholder="Odd Team B" required>

            </div>
        </div>

        <div class="row mb-3">
            <label  for="oddX" class="col-sm-2 col-form-label"> What are the odds for a draw? </label>
            <div class="col-sm-10">
                <input th:field="*{oddX}" class="form-control" id="oddX" placeholder="Odd X" required>

            </div>
        </div>













        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Add Event</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>