<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Bet</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/cssStyle/myBetStyle.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <a href="/home">
            <img src="/imageLogo/Pariuri-sportive.png" alt="Online Bets Logo">
        </a>


    </div>
    <ul class="nav-links">
        <li sec:authorize="isAuthenticated()" th:classappend="${requestUrl == '/home' ? 'active' : ''}">
            <a href="/home">Sport</a>
        </li>
        <li th:classappend="${requestUrl == '/contact' ? 'active' : ''}">
            <a href="/contact">Contact Us</a>
        </li>
        <li><a href="/myBet">My Bet</a></li>
    </ul>
    <ul class="auth-links">
        <li sec:authorize="isAnonymous()" th:classappend="${requestUrl == '/login' ? 'active' : ''}">
            <a href="/login">Login</a>
        </li>
        <li sec:authorize="isAnonymous()" th:classappend="${requestUrl == '/registration' ? 'active' : ''}">
            <a href="/registration">Registration</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/logout"> Logout </a>
        </li>
    </ul>
</nav>



<form th:object="${betDtoList}" method="get" action="/myBet">
<table>
    <thead>
    <tr>
        <th>Eveniment</th>
        <th>Selectie</th>
        <th>Suma plasata</th>
        <th>Data si ora</th>
        <th>Starea pariului</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="betDto : ${betDtoList}">
        <td th:text="${betDto.event}"></td>
        <td th:text="${betDto.selection}"></td>
        <td th:text="${betDto.stake}"></td>
        <td th:text="${betDto.dateAndTime}"></td>
        <td th:text="${betDto.status}"></td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>
