<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Bets</title>

    <link rel="stylesheet" type="text/css" href="/cssStyle/registrationStyle.css">
</head>
<body>
<div class="navbar">

    <li  class="logo"><a href="/home"> Online Bets </a></li>
</div>

<div class="container">
    <div class="logo">
        <img src="/imageLogo/Pariuri-sportive.png" alt="Online Bets">
    </div>
    <form th:object="${userDto}" action="/registration" method="post">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input th:field="*{userName}" type="text" id="userName" placeholder="User Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input th:field="*{email}" type="text" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input th:field="*{dateOfBirth}" type="date" id="dateOfBirth">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input th:field="*{phoneNumber}" type="text" id="phoneNumber" placeholder="Phone Number">
        </div>

        <div class="form-group">
            <label for="role"> Role </label>
            <input th:field="*{role}" type="text" id="role" placeholder="role">

        </div>


        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
