
body {
    background-color: dimgrey;
    margin: 0;
    padding: 0;
    background-image: url('static/imageLogo/pariuri-facebook_1200x630.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* Bara de sus de meniu */
.navbar {
    background-color: #333;
    height: 50px;
}

/* Logo */
.navbar .logo {
    float: left;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* Containerul formularului */
.container {
    width: 400px;
    margin: 100px auto 0;
    padding: 30px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 100px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
